{% extends 'base.html' %} 

{% block content %}
<br>
<br>
<div class="container-top">
<div class="row" style="background-image: url('https://images.pexels.com/photos/1192057/pexels-photo-1192057.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940');background-attachment:fixed;background-size: cover;background-repeat: no-repeat; height: 500px;">
  <div class="col-md-4"style="margin-top:100px; margin-left: 50px;">
  <div>
    <img src="static/img/logo.png" alt="logo" style="border-radius: 150px;">
  </div>
</div>

<div class="col-md-5">
  <div style="color:aliceblue;margin-top: 100px;">
  <h1 style="font-weight:bold;font-size: 3rem;">Build A Better & safe<br>Network</h1>
  <p style="color:black;">DevHub is an amazing team of coding enthusiast<br>
  who work out in design to provide daily solutions<br>
and connect up on whats happening</p>
<div>
  <a class="btn btn-outline-secondary waves-effect" href="{% url 'signup' %}">Join As Dev</a>
  <a class="btn btn-info" href="devs">Connect with Devs</a>
  </div>
  </div>
  </div>


</div>
<br>
<br>
 
<div class="row" style="background-image: url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940'); background-attachment:fixed;background-size: cover;background-repeat:no-repeat;height: 250px;">
  <div style="margin-left:200px; font-size: 80px;font-weight: bold;color: white;">
  <div class="count">3255</div>
  <h4 style="font-family: 'Permanent Marker', cursive;">Cups of Coffee</h4>
  </div>
  <div style="margin-left:200px;color: white; font-size: 80px;font-weight: bold;">
      <div class="count">574+</div>
      <h4 style="font-family: 'Permanent Marker', cursive;">Projects on market</h4>
      </div>
  <div style="margin-left:200px; color: white;font-size: 80px;font-weight: bold;">
      <div class="count">29+</div>
      <h4 style="font-family: 'Permanent Marker', cursive;">Partners</h4>
  </div>
</div>
<br>
<h1 style="text-align: center; font-family: 'Permanent Marker', cursive;" >Featured code Lines</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="view overlay">
          <img src="https://www.muraldecal.com/en/img/orp068-jpg/folder/products-listado-merchant/stickers-java.jpg" class="img-fluid " alt="smaple image"style="height: 300px; width: 300px;" >
          <div class="mask flex-center rgba-red-strong">
              <p class="white-text">JAVA</p>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="view overlay">
          <img src="https://image.shutterstock.com/image-illustration/python-programming-logo-260nw-1312316162.jpg" class="img-fluid " alt="smaple image"style="height: 300px; width: 300px;" >
          <div class="mask flex-center rgba-red-strong">
              <p class="white-text">PYTHON</p>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="view overlay">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMl-gcOrq5t3caThmHzzS4X_C5TB2GVqaF7kAe5yumYjdriAui" class="img-fluid " alt="smaple image"style="height: 300px; width: 300px;" >
          <div class="mask flex-center rgba-red-strong">
              <p class="white-text">KOTLIN</p>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="view overlay">
          <img src="https://image.shutterstock.com/image-vector/ruby-logo-red-crystals-chain-260nw-1306273396.jpg" class="img-fluid " alt="smaple image"style="height: 300px; width: 300px;" >
          <div class="mask flex-center rgba-red-strong">
              <p class="white-text">RUBY</p>
          </div>
      </div>
      </div>
  </div>
  <br>
  <div class="row">
      <h1 style="text-align: center; font-family: 'Permanent Marker', cursive; margin-left: 500px;" >Meet The Developers</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
        <div class="view overlay">
      <img src="static/img/newton.png" alt="logo" style="border-radius: 200px; height: 200px; width: 200px;">
      <div class="mask flex-center rgba-grey-strong">
          <button class="btn btn-info">View on Github</button>
        </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="view overlay">
        <img src="static/img/adho1.jpeg" alt="logo" style="border-radius: 200px; height: 200px; width: 200px;">
        <div class="mask flex-center rgba-grey-strong">
          <button class="btn btn-info">View on Github</button>
        </div>
        </div>
      </div>
      <div class="col-md-2">
          <div class="view overlay">
          <img src="static/img/faith.jpeg" alt="logo" style="border-radius: 200px; height: 200px; width: 200px;">
          <div class="mask flex-center rgba-grey-strong">
              <button class="btn btn-info">View on Github</button>
            </div>
            </div>
        </div>
       <div class="col-md-2">
          <div class="view overlay">
          <img src="static/img/christine.png" alt="logo" style="border-radius: 200px; height: 200px; width: 200px;">
          <div class="mask flex-center rgba-grey-strong">
              <button class="btn btn-info">View on Github</button>
            </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="view overlay">
            <img src="static/img/pp.jpg" alt="logo" style="border-radius: 200px; height: 200px; width: 200px;">
            <div class="mask flex-center rgba-grey-strong">
                <button class="btn btn-info">View on Github</button>
              </div>
              </div>
          </div>
          <div class="col-md-2">
              <div class="view overlay">
              <img src="static/img/marete.jpeg" alt="logo" style="border-radius: 200px; height: 200px; width: 200px;">
              <div class="mask flex-center rgba-grey-strong">
                  <button class="btn btn-info">View on Github</button>
                </div>
                </div>
            </div>
  </div>
  <br>
<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">
        <div class="row">
        <div class="col-md-4">
  
            <!-- Video -->
            <div class="embed-responsive embed-responsive-16by9 mb-4">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                allowfullscreen></iframe>
            </div>
    
          </div>
          <div class="col-md-4">
          <h1 style="font-family: 'Permanent Marker', cursive;">Check out Developers life 
            a happy life happy coding!</h1>
          </div>
         </div>
  
    </div>
    <!-- Footer Elements -->
  
  
  </footer>
  <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">DevHub community</h5>
          <p>We are currently working on new projects.</p>
          <p>devhub community allows you network with Developers
            and build creative solutions across all networks

          </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">PROJECTS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">ABOUT US</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">BLOG</a>
              </p>
            </li>

          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> Kenya/ Nairobi 23400</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i>devhub@yahoo.com</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            </li>
            <li>
              <p>
                <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
  
          <!-- Facebook -->
          <a type="button" class="btn-floating btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
          <!-- Google +-->
          <a type="button" class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <!-- Dribbble -->
          <a type="button" class="btn-floating btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> DevHub.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  
  <!-- Footer -->
{% endblock %}
